
    <!-- Notification  button start -->
    <div class="blast-box">
      <div class="blast-icon">
        <img src="/assent/images/logos/bell-notify.gif" alt="" />
      </div>
      <div class="blast-frame">
        <div class="scrolling">
          <h2>
            {{notification.notification}}
          </h2>

          <!-- <p class="blast-custom-colors">Custom colors</p>
              <input         </div>
              type="color" name="blastCustomColor" value="#cf2626"> -->
        </div>
      </div>
    </div>
    <!-- Notification  button end -->
    <div id="particles-js" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <!-- <img id="particles-js"  src="assent/images/sections/DSCN2295-01.jpg" class="d-block w-100" alt="img"> -->
          <div class="carousel-caption d-none d-md-block text-center">
            <h2>
              <span class="ipth1">IPT</span>& GPTC SHORA<span class="nur"
                >NUR</span
              >
            </h2>
          </div>
        </div>
      </div>

          <!-- events -->
    <div class="event ">
      <marquee width="100%" direction="left" height="50px" scrollamount="10">
        <a href="#" style="color: #fff;">{{scrollContent.scrollContent}}</a>
      </marquee>  
    </div>
    <!-- evente -->
    </div>



    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>About Us</h2>
          <!-- <p>To develop eminent and ethical leaders in society by imparting quality professional education with emphasis on human values and holistic excellence.</p> -->
        </div>
        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2">
            <img
              src="/assent/images/sections/about1.svg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <p style="text-align: justify">
              Nestled within a luscious green forest cover stretching over kilometres, Institute of Printing Technology and
              Government Polytechnic College was established in 1967 by the Govt. of Kerala under the department of Technical
              Education and is approved by AICTE (Permanent ID:
              1-474656361) and affiliated to SBTE (Affiliation No. SBTE101901).
            
              What started as an Institute of Printing Technology, developed and evolved to be one of the major centres of excellence in Technical Education with the incorporation of the Department of Electronics Engineering in 1987 and the Department of Computer Engineering in 1989. It has the privilege of being the only Institute in the entire state which offers a three-year Diploma Programme in Printing Technology. 
            </p>
            <a href="/aboutUs" class="read-more bg-primary"
              >Read More <i class="icofont-long-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>
    </section>
    <!-- End About Section -->

    <!-- ======= mission vission Section ======= -->
    <section id="mission" class="about">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <!-- <h2>MISSION & VISION</h2> -->
          <!-- <p>To develop eminent and ethical leaders in society by imparting quality professional education with emphasis on human values and holistic excellence.</p> -->
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-6 order-1 order-lg-0">
            <img
              src="/assent/images/sections/vision.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Vision</h3>
            <p style="text-align: justify;">
              Technical institution of the highest order with a transformative
              impact on society.
            </p>
            <!-- <a href="#" clas              <h3 style="text-align: center; color: #2c4964">M Ramachandran</h3>
              <h4 style="text-align: center; color: #888888">Principal</h4>
              <h5 style="text-align: center; color: #888888">M Tech,FIE</h5>s="read-more">Read More <i class="icofont-long-arrow-right"></i></a> -->
          </div>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-6 order-1 order-lg-2">
            <img
              src="/assent/images/sections/mission3.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Mission</h3>
            <p class="missionpoint" style="text-align: justify;">
              <i class="icofont-long-arrow-right"></i> Endeavour to create and
              sustain an academic environment that accelerates intellectual
              growth and skill acquisition. <br />

              <i class="icofont-long-arrow-right"></i> Realise a collaborative
              relationship between the institute and industry. <br />

              <i class="icofont-long-arrow-right"></i> Facilitate an active
              involvement in the society through technology transfer,
              entrepreneurship development and societal outreach programmes
            </p>
            <!-- <a href="#" class="read-more">Read More <i class="icofont-long-arrow-right"></i></a> -->
          </div>
        </div>
      </div>
    </section>
    <!-- End mission vision Section -->
    <!-- principle section start -->
    <section id="principal" class="about">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Principal's  Message</h2>
          <!-- <p>To develop eminent and ethical leaders in society by imparting quality professional education with emphasis on human values and holistic excellence.</p> -->
        </div>
        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2">
            <img
              style="width: 30rem; height: 28rem"
              src="/assent/images/principal/{{principal._id}}.jpg"
              class="img-fluid"
              alt=""
            />
            <span class="d-block">
              <h3 style="text-align: center; color: #2c4964">{{principal.principal}}</h3>
              <h4 style="text-align: center; color: #888888">Principal</h4>
              <h5 style="text-align: center; color: #888888">{{principal.qualification}}</h5>
            </span>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <p class="prinmsg">
              "Education is the most powerful weapon which you can use to change the world"<br>
              <span class="nelson" >- Nelson Mandela </span> 
            </p>
              <p style="text-align: justify;">
                In a world that has seen rapid technological advancement, technical education serves as a vanguard to the future. Institute of Printing Technology and Government Polytechnic College, as one of the oldest Institute of technical education in the state, consider it our responsibility to empower our learners to rise up to the challenges of the society and the industry. We draw strength from a glorious past that has enriched us  with a host of prodigious alumni. The goodwill of the public and the support of the government is the wind beneath our wings that gives momentum to our journey towards excellence.
                We invite students to enter our gates as learners and leave as technicians of the highest calibre.
              </p>

          
            <!-- <a href="aboutus.html" class="read-more bg-primary"
              >Read More <i class="icofont-long-arrow-right"></i
            ></a> -->
          </div>
        </div>
      </div>
    </section>
    <!-- principle section end -->
    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients section-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>REFERENCE</h2>
        </div>

        <div class="row">
          <div
            class="links col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
          >
            <a
              title="polyadmission"
              target="__blank"
              href="http://www.polyadmission.org/"
              ><img
                src="/assent/images/links/govlogo1.jpg"
                class="img-fluid"
                alt=""
            /></a>
            <h5>ADMISSION</h5>
          </div>

          <div
            class="links col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
          >
            <a
              title="	Directorate of Technical Education"
              target="__blank"
              href="http://www.dtekerala.gov.in/"
            >
              <img
                src="/assent/images/links/1.gif"
                class="img-fluid"
                alt="apple"
            /></a>
            <h5>DTE</h5>
          </div>

          <div
            class="links col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
          >
            <a
              title="State Institute of Technical Teachers' Training & Research"
              target="__blank"
              href="http://sitttrkerala.ac.in/index.php?r=site%2Fhome"
              ><img
                src="/assent/images/links/govlogo1.jpg"
                class="img-fluid"
                alt=""
            /></a>
            <h5>SITTTR</h5>
          </div>

          <div
            class="links col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
          >
            <a
              title="All India Council for Technical Education "
              target="__blank"
              href="https://www.aicte-india.org/"
              ><img
                src="/assent/images/links/aicte(1).png"
                class="img-fluid"
                alt=""
            /></a>
            <h5>AICTE</h5>
          </div>

          <div
            class="links col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
          >
            <a
              title="State Board of Technical Education"
              target="__blank"
              href="http://sbte.kerala.gov.in/login/"
              ><img
                src="/assent/images/links/govlogo1.jpg"
                class="img-fluid"
                alt=""
            /></a>
            <h5>SBTE</h5>
          </div>

          <div
            class="links col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
          >
            <a
              title="Board of techinacal education"
              target="__blank"
              href="https://tekerala.org/"
              ><img src="/assent/images/links/te3.gif" class="img-fluid" alt=""
            /></a>
            <h5>TE KERALA</h5>
          </div>

          <div
            class="links col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
          >
            <a
              title="Academic Monitoring System"
              target="__blank"
              href="http://www.teams.ac.in/"
              ><img
                src="/assent/images/links/teams-logo.png"
                class="img-fluid"
                alt=""
            /></a>
            <h5>TEAMS</h5>
          </div>

          <div
            class="links col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
          >
            <a
              target="__blank"
              href="https://play.google.com/store/apps/details?id=com.ashek.polytechniccgpacalculator&hl=en_IN&gl=US"
              ><img
                src="/assent/images/links/calculator.png"
                class="img-fluid"
                alt=""
            /></a>
            <h5>CGPA CALCULATOR</h5>
          </div>

          <div
            class="links col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
          >
            <a
              target="__blank"
              href="https://www.tekerala.org/student_detailss/index.php"
              ><img
                src="/assent/images/links/govlogo1.jpg"
                class="img-fluid"
                alt=""
            /></a>
            <h5>CANDIDATE LOGIN</h5>
          </div>

          <div
            class="links col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
          >
            <a
              target="__blank"
              href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-modelqp&scheme=REV2015"
              ><img src="assent/images/links/qp.png" class="img-fluid" alt=""
            /></a>
            <h5>QUESTION PAPERS</h5>
          </div>

          <div
            class="links col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
          >
            <a
              title="Supervisory development center"
              target="__blank"
              href="http://www.sdcentre.org/"
              ><img
                src="/assent/images/links/govlogo1.jpg"
                class="img-fluid"
                alt=""
            /></a>
            <h5>SDC</h5>
          </div>

          <div
            class="links col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
          >
            <a
              target="__blank"
              href="http://sitttrkerala.ac.in/index.php?r=site%2Fdiploma-syllabus&scheme=REV2015"
              ><img
                src="/assent/images/links/sylabuss.png"
                class="img-fluid"
                alt=""
            /></a>
            <h5>SYLLABUS</h5>
          </div>
        </div>
      </div>
    </section>
    <!-- End Clients Section -->
    <!-- service section start -->

    <section id="departments" class="container department" data-aos="fade-up">
      <div class="section-title">
        <h2>Departments</h2>
        <!-- <p>Our former student Dr.Rajendrakumar Anayat who stood in 1st rank from the Institution in 1990 received Printing Industry Research Association [PIRA] academic excellence award..</p> -->
      </div>
      <!-- Card deck -->
      <div class="card-deck">
        <!-- Card -->
        <div class="card mb-4">
          <!--Card image-->
          <div class="view overlay">
            <img
              class="card-img-top cardimage"
              src="/assent/images/sections/computercard.jpg"
              alt="Card image cap"
            />
            <a href="#">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title">Computer Engineering</h4>
            <!--Text-->
            <p class="card-text" style="text-align: justify !important;">
              Computer Engineering Department was established in 1989. We have an annual intake of 60 with additional 10% for lateral entry students
            </p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <a href="/computer" type="button" class="btn btn-primary"
              >Read more</a
            >
          </div>
        </div>

        <!-- Card -->
        <div class="card mb-4 lg-4">
          <!--Card image-->
          <div class="view overlay">
            <img
              class="card-img-top cardimage"
              src="/assent/images/sections/electroniccard.jpg"
              alt="Card image cap"
            />
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body lg-4">
            <!--Title-->
            <h4 class="card-title">Electronics Engineering</h4>
            <!--Text-->
            <p class="card-text" style="text-align: justify;">
              Electronics Department established in the year 1988. The annual intake is 60 with an additional 10% lateral entry students at second year onwards.
            </p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <a href="/electronics" type="button" class="btn btn-primary"
              >Read more</a
            >
          </div>
        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-4 lg-4">
          <!--Card image-->
          <div class="view overlay">
            <img
              class="card-img-top cardimage"
              src="/assent/images/sections/printingcard.jpg"
              alt="Card image cap"
            />
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title">Printing Technology</h4>
            <!--Text-->
            <p class="card-text" >
              The program was started in the year 1967 and successfully completed 50 years its existence as a Centre of excellence in Printing Technology
            </p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <a href="/printing" type="button" class="btn btn-primary"
              >Read more</a
            >
          </div>
        </div>
        <!-- Card -->

        <!-- Card -->
      </div>
      <!-- Card deck -->
    </section>
    <!-- service section end -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Contact US</h2>
          <!-- <p>Our help center is fresh and always open for business. If you can’t find the answer you’re looking
                    for, we’re here to lend a hand</p> -->
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Our Address</h3>
              <p style="padding: 10px">
                Institute of Printing Technology & <br />
                Government Polytechnic College, <br />
                Govt. Press P.O Pin 679122 <br />
                Palakkad Dist. Kerala India
              </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p>polyshoranur@gmail.com</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3>
              <p>0466 222 0450</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <iframe
              class="mb-4 mb-lg-0"
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15677.34896023106!2d76.2655322!3d10.785462!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x528e44cfc6ee30c7!2sIPT%26GPTC%2CShoranur!5e0!3m2!1sen!2sin!4v1606189762388!5m2!1sen!2sin"
              width="100%"
              height="384px"
              frameborder="0"
              style="border: 0"
              allowfullscreen=""
              aria-hidden="false"
              tabindex="0"
            ></iframe>
          </div>

          <div class="col-lg-6">
            <form
              action="/send-message"
              method="post"
              role="form"
              class="php-email-form"
            >
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input
                    type="text"
                    required="required"
                    name="name"
                    class="form-control"
                    id="name"
                    placeholder="Your Name"
                    data-rule="minlen:4"
                    data-msg="Please enter at least 4 chars"
                  />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input
                    type="email"
                    required="required"
                    class="form-control"
                    name="email"
                    id="email"
                    placeholder="Your Email"
                    data-rule="email"
                    data-msg="Please enter a valid email"
                  />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input
                  type="text"
                  required="required"
                  class="form-control"
                  name="subject"
                  id="subject"
                  placeholder="Subject"
                  data-rule="minlen:4"
                  data-msg="Please enter at least 8 chars of subject"
                />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea
                  class="form-control"
                  name="message"
                  rows="5"
                  data-rule="required"
                  data-msg="Please write something for us"
                  placeholder="Message"
                ></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">
                  Your message has been sent. Thank you!
                </div>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary">
                  Send Message
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- End Contact Section -->

<div class="loader"></div>
   

